<% provide(:title, 'Hilfe') %>

<div class="page-header">
  <h1>Hilfe <small>Haeufig gestellte Fragen</small></h1>
</div>

<h1>StaticPages#hilfe</h1>
<p>Find me in app/views/static_pages/hilfe.html.erb</p>
