<% provide(:title, 'Kontakt') %>

<div class="page-header">
  <h1>Kontakt <small>Hier sind wir fuer Sie zu erreichen</small></h1>
</div>

<h1>StaticPages#kontakt</h1>
<p>Find me in app/views/static_pages/kontakt.html.erb</p>