<% provide(:title, 'Start') %>

<div class="jumbotron">
  <h2>Alles rund um Pflege - Finden Sie das Beste!</h2>
  Angemeldet:
  <div class="container">
  	<div class="input-group pull-left jumbo-input">
  		<input type="text" pattern="[0-9]{5}" class="form-control input-lg pull-left" placeholder="Postleitzahl"/>
    </div>
		<a class="btn btn-primary btn-lg">Jetzt suchen</a>
  </div>
</div>


<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4"><h3>Fuer Ratsuchende</h3>Dolor sit amet, consectetur adipiscing elit. Sed commodo pellentesque neque, at gravida tellus facilisis id. Aliquam sagittis fringilla velit, egestas egestas lorem sagittis nec. Cras interdum condimentum odio at faucibus. Nam a lectus eu est gravida tincidunt. Nunc at ligula vestibulum, ornare purus eu, sollicitudin ante. Suspendisse feugiat interdum suscipit. <br/>
  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis pulvinar odio, a dictum ante. Praesent accumsan ipsum dui, eget consequat dolor dignissim a. 
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4"><h3>Fuer Kunden und Mitarbeiter</h3>Sie kennen ein Pflegeunternehmen von Innen? Wir sind an Ihrer Geschichte interessiert! Helfen Sie anderen dabei die richtige Wahl zu treffen. <br/><br/>
<div class="list-group">
  <a href="#" class="list-group-item">Pflegeberatung
  </a>
  <a href="#" class="list-group-item">Pflegeanbieter
  </a>
  <a href="#" class="list-group-item">Pflegeheime
  </a>
</div>


  	Duis ornare nunc in tortor dignissim, at vestibulum nisi cursus. Fusce eleifend, erat in bibendum hendrerit, nunc nunc consectetur lacus, posuere semper nisl purus et urna. Nulla placerat accumsan lacus molestie scelerisque. <br/>
  	Fusce euismod arcu mauris, id commodo massa varius id. In imperdiet blandit pellentesque. In id magna id mauris ullamcorper pretium fermentum at nunc. Pellentesque consequat iaculis nisl sed volutpat. Etiam eu fermentum orci. Aenean augue tortor, condimentum porttitor elit ultrices, porta fermentum tellus. Praesent vitae pellentesque diam. Suspendisse et consectetur urna, non commodo nulla. Morbi eget volutpat justo, sed sollicitudin turpis. Mauris varius est non sapien laoreet, ut lacinia eros tincidunt. Donec accumsan rutrum tempus. Quisque consectetur bibendum nibh, ut consequat orci vulputate non. 
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4"><h3>Fuer Pflegeberater</h3>Sie kennen Ihre Pflegeanbieter vor Ort? Lassen Sie sich finden! <br/>
  	Proin eu justo ut lorem dapibus suscipit. Curabitur a commodo elit. Nulla odio nunc, auctor id ultrices sed, venenatis non justo. Donec vel blandit lectus. Mauris pellentesque, mauris nec tincidunt facilisis, enim nunc tempor erat, a condimentum enim orci vitae nisi. Nulla quis tincidunt ligula, eu lobortis libero. Curabitur egestas tempus tempor. Suspendisse eu erat fringilla, varius nulla a, luctus eros. Maecenas rutrum pellentesque risus, quis egestas diam eleifend auctor. Cras a ipsum ornare, accumsan mi sit amet, rutrum augue. Pellentesque facilisis eleifend est sed congue. 
  </div>
</div>



<% #if signed_in? %>
	<% #render 'shared/home_for_signed_in' %>
<% #else %>
	<% #render 'shared/home_for_not_signed_in' %>
<% #end %>