<% provide(:title, @anbieter.name) %>

<h1><%= @anbieter.name %></h1>
TODO: Sicherstellen, dass nur oeffentliche Informationen fuer alle verfuegbar sind 
<div class="row">
	<div class="col-6 col-sm-4 col-lg-4 user-aside">
		<section>
			<h1>
				<% # @anbieter.contact %>
			</h1>
		</section>
	</div>
</div>