<a href="<%= pflegeberater_show_path(pflegeberater) %>" class="list-group-item">
	<h4 class="list-group-item-heading"><%= pflegeberater.name %></h4>
	<div class="list-group-item-text"><%= pflegeberater.name %></div>
</a>
<%= link_to "delete", '#' %>