@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

.navbar-nav {
	float: right;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	/*letter-spacing: -1px;*/
	padding-top: 14px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: #f0f0f0;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	a {
		color: #555;
		&:hover {
			color: #ddd;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;
			li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* start page: jumbotron */

.jumbotron {
	overflow:auto;
	background-image: url('wallpaperbod-com-Green-Grass-Leaf-Wide.jpg');
	height: 200px;
	/*background-size: 100% 100%;*/
}

.jumbo-input {
	padding: 3px;
}