<footer class="footer">
	<small>
		<a href="https://irginanfafha.aas">Irgendein Link</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Ueber uns", '#' %></li>
			<li><%= link_to "Kontakt", 'kontakt' %></li>
			<li><%= link_to "Impressum", 'impressum' %></li>
		</ul>
	</nav>
</footer>