<footer class="footer">
	<small>
		<a href="http://www.shekoia.com">Irgendein Link</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Ueber uns", '#' %></li>
			<li><%= link_to "Kontakt", kontakt_path %></li>
			<li><%= link_to "Impressum", impressum_path %></li>
		</ul>
	</nav>
</footer>