<!-- Docs master nav -->
<div class="first-top-bar navbar-fixed-top navbar">
	<div class="container">
	</div>
	
</div>

<div class="second-top-bar navbar navbar-inverse navbar-fixed-top bs-docs-nav">
	<div class="container">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
		<%= link_to "Die Pflegetester", root_path, class: "navbar-brand pull-left" %>
		<div class="bs-navbar-collapse nav-collapse-scrollable">
			<ul class="nav navbar-nav pull-right">
				<li>
					<%= link_to "Start", root_path %>
				</li>
				<li>
					<a href="#">Suche</a>
				</li>
				<li class="active">
					<a href="#">Neuigkeiten</a>
				</li>
				<li>
					<a href="#">Forum</a>
				</li>
				<li>
     				<%= link_to "Anmelden", registrieren_path %>
				</li>
			</ul>
		</div>
	</div>
</div>